<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Logout</title>
	</head>
	<body>
		<header>
			<h1>Logout</h1>
		</header>
		<main>
			<div class="container">
				<h2>You've been logged out</h2>
				<p>
					You have successfully logged out. You can
					<a href="/login">Login Again</a> or <a href="/signup">Signup</a>.
				</p>
			</div>
		</main>
	</body>
</html>
